@import url(../../style.css);
@import url(../../Components/components.css);

.icons-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 20px;
}
