@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #f3f3f3;
  --secondary-color: #e2eed7;
  --text-color: #222222;
  --green-color: #f1f7ed;
  --blue-color: #4363ad;
  --hover-color: #4caf05;
  --navbar-height: 10vh;
  --gu-green-color: #528d52;

  /* color */

  --black: #1f1d1d;
  --white: #fffefe;
  --lynxWhite: #f8f8f8;
  --grey: #262f44;
  --darkBlue: #007bb5;
  --green: #20aa20;
  --darkRed: #9b1e1e;
  --red: #ff0000;
  --lightRed: #f3a09cf8;
  --darkYellow: #a88c18;
  --lightBlue: #89c3df;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 100%;
  background: var(--primary-color);
}
a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color);
}
button {
  cursor: pointer;
}

hr {
  border-top: 2px solid var(--secondary-color);
  border-bottom: 0;
}

iframe {
  margin: 1rem 0 1.5rem;
}
/* Utilities */
.p-bottom-1 {
  padding-bottom: 1rem;
}
.h1 {
  font-weight: 600;
  font-size: 2rem;
  margin: 1rem auto;
}
.h2 {
  font-weight: 600;
  font-size: 1.4rem;
  margin: 0.8rem auto;
}
.p-s {
  margin: 1.1rem auto;
  font-weight: 500;
  font-size: 1.2rem;
}
.p-md {
  margin: 1.1rem auto;
  font-weight: 500;
  font-size: 1.3rem;
}

.navbar {
  position: sticky;
  top: 0;
  z-index: 2;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  height: var(--navbar-height);
  color: var(--text-color);
  background: var(--primary-color);
  font-size: 1.5rem;
  padding: 0 3rem;
  box-shadow: 5px 5px 10px var(--secondary-color);
}
.header-logo {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}
.hdr-icons {
  display: flex;
  margin-left: auto;
  color: var(--text-color);
  font-size: 1.8rem;
}
#btn-ham-burger {
  background-color: transparent;
  color: var(--text-color);
  border: 0;
  font-size: 1.6rem;
  margin-right: 2rem;
  display: none;
}
.head-title {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 600;
}
.main-body {
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 1;
  flex-grow: 1;
}
.sidebar {
  position: fixed;
  padding: 2rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  gap: 10px;
  z-index: 2;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 600;
  min-width: 18%;
  height: calc(100vh - var(--navbar-height));
  overflow-y: auto;
  box-shadow: 0 10px 10px -2px var(--secondary-color);
  clip-path: inset(0px -15px 0px 0px);
}
.sidebar-subtitle {
  color: var(--black);
  font-size: 1.2rem;
  text-decoration: underline;
}

.sidebar-link:hover {
  color: var(--hover-color);
}
.docs {
  padding: 2rem;
  margin-left: 18%;
  flex-grow: 1;
}

/* docs */

.gu-icon-container {
  margin: 1rem auto;
  background: var(--secondary-color);
  box-shadow: 2px 1px 10px var(--gu-green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  gap: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
}
.gu-icon-container-clm {
  margin: 1.5rem auto;
  background: var(--secondary-color);
  box-shadow: 2px 1px 10px var(--gu-green-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  gap: 20px;
  border-radius: 10px;
  flex-wrap: wrap;
  flex-direction: column;
}
/* media Queries */

@media only screen and (max-width: 900px) {
  .sidebar {
    display: none;
  }
  #btn-ham-burger {
    display: flex;
  }
  .head-title {
    font-size: 1.7rem;
  }
  .p-s {
    font-size: 1.1rem;
  }
  .p-md {
    font-size: 1.2rem;
  }
  .docs {
    margin-left: 0;
  }
}
@media only screen and (max-width: 600px) {
  .head-title {
    font-size: 1.6rem;
  }
  .h1 {
    font-size: 1.5rem;
  }
  .h2 {
    font-size: 1.2rem;
  }
  .p-s {
    font-size: 1rem;
  }
  .p-md {
    font-size: 1.1rem;
  }
}
@media only screen and (max-width: 400px) {
  .h1 {
    font-size: 1.3rem;
  }
  .h2 {
    font-size: 1.1rem;
  }
  .p-s {
    font-size: 0.8rem;
  }
  .p-md {
    font-size: 0.9rem;
  }
}
