.avatar {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}
.avtr-sm {
  width: 1.9rem;
  height: 1.9rem;
}
.avtr-lg {
  width: 4.3rem;
  height: 4.3rem;
}
.avtr-md {
  width: 3.5rem;
  height: 3.5rem;
}
.sq-avtr {
  border-radius: 5px;
}
