@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://pro.fontawesome.com/releases/v5.10.0/css/all.css");
@import url(./reset.css);
@import url(../components/avatar/avatar.css);
@import url(../components/badge/badge.css);
@import url(../Components/alert/alert.css);
@import url(../Components/button/button.css);
@import url(../Components/card/card.css);
@import url(../Components/image/image.css);
@import url(../Components/input/input.css);

:root {
  --black: #1f1d1d;
  --white: #fafafa;
  --lynx-white: #f8f8f8;
  --blue-color: #2b59ec;
  --blue-violet: #8a2be2;
  --light-green: #88e7b0;
  --dark-green: #008000;
  --light-red: #ffc3c3;
  --dark-red: #b80000;
  --light-yellow: #f6ff75;
  --dark-yellow: #5a6400;
  --light-blue: #95cfff;
  --dark-blue: #003858;

  --success: #22c55e;
  --danger: #dc2626;
  --warning: #facc15;
  --default: #414752;
  --link: #0489aa;
  --dark-orange: #e67a00;
  --light-grey: #c2c2c2;
  --light-grey: #727272;
  --dark-green: #008000;

  --font-light: 300;
  --font-regular: 400;
  --font-semiBold: 600;
  --font-bold: 700;

  --gu-green: #068b06;
  --gu-red: #fa0707;
  --gu-white: #f5eded;
  --gu-grey: #969494;
  --gu-l-green: #55dd33;
}
