.modal-container {
  background: var(--primary-color);
  width: fit-content;
  position: relative;
  margin: 0.5rem;
  padding: 1rem;
  box-shadow: 1px 2px 10px 1px var(--secondary-color);
  border-radius: 3px;
  line-height: 2rem;
}
.modal {
  display: flex;
  flex-direction: column;
}
.modal-heading {
  font-size: 1.6rem;
  font-weight: 700;
}
.modal-text {
  font-size: 1.1rem;
  margin-right: 1.5rem;
  max-width: 40ch;
}
.modal-btn {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  margin-top: 1rem;
}
.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
}
